.sideDiv{
    width: 25%;
    padding:5px;
    height: 100%;
    float: left;
    /* position: absolute; */
}
.loginForm,.calendar{
    width: 100%;
    height: 35%;
    padding:15px;
    margin-top: 10px;
    border-radius: 3px;
    background: whitesmoke;
}
.sideDiv h5{
    border-left: solid medium gray;
    padding:5px;
    border-radius: 2px;
    font-weight: normal;
    text-align: left;
    margin-top: 0px;
}
.loginForm form{
    width: 100%;
    height: auto;
    margin-top: 0px;
}
.loginForm form input{
    width: 93%;
    padding:10px;
    border:none;
    box-shadow: 0 0 2px gray;
    margin-top: 10px;
    border-radius: 2px;
}
.loginForm form input:first-child{
    margin-top: 0px!important;
}
.loginForm form button{
    margin-top: 10px;
    padding:8px;
    width: 40%;
    border-radius: 2px;
    background: whitesmoke;
    box-shadow: 0 0 2px gray;
    border:none;
}




/* calendar */
.week-day{
    padding-left: 10px;
    padding-right: 10px;
    background: whitesmoke;
    padding-top: 5px;
    padding-bottom: 5px;
}
.week-day:last-child{
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
.week-day:first-child{
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.calendar-day{
    text-align: center;
}
.currentDay{
    background: red;
}
.rightSideDiv{
    width: 69.5%;
    float: right!important;
    margin-left: 10px;
    padding: 10px;
    margin-top: 15px;
    /* position: absolute; */
    background: whitesmoke;
    border-radius: 2px;
}
.rightSideDiv table{
    width: 100%;
}
.rightSideDiv table tbody tr td, .rightSideDiv table thead tr th{
    text-align: left;
}